<manifest package="com.satoshilabs.trezor.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Dangerous permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Explicitne odstranime permissnion pro INTERNET! -->
    <!--<uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".common.CustomApplication">

        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
            android:theme="@style/AppTheme.NavBar"
            android:launchMode="singleTop">
            <!--
             singleTask nefungovalo dobre ani na lollipop+ pri znovu otevreni beziciho tasku z launcheru (vzdy se vracelo do MainActivity...
            DRIVE: singleTask - aby tato aktivita vzdy existovala max jedna v systemu
            - kvuli potizim kdyz system zobrazi pri pripojeni trezoru dialog,
             kterou aplikaci chceme spusti a my uz mame zobrazenou MainActivity...
            -->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

        <activity android:name=".activity.InitTrezorActivity"
                  android:label="@string/trezor_setup" />

        <activity android:name=".activity.EnterPinActivity"
                  android:theme="@style/AppTheme.Dialog" />

        <activity android:name=".activity.RecoverySeedSetupActivity"
                  android:label="@string/trezor_setup" />

        <activity android:name=".activity.XpubActivity"
                  android:label="@string/xpub_activity_title" />

        <activity android:name=".activity.ChangeHomescreenActivity"
                  android:label="@string/main_activity_change_homescreen" />

        <activity android:name=".activity.EnterPassphraseActivity"
                  android:theme="@style/AppTheme.Dialog" />

        <activity android:name=".activity.TrezorRecoveryInitActivity"
                  android:label="@string/trezor_recovery" />

        <activity android:name=".activity.TrezorRecoverySeedActivity"
                  android:label="@string/trezor_recovery"
                  android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".activity.AboutActivity"
                  android:label="@string/about_title" />

        <activity android:name=".activity.FirmwareUpgradeActivity"
                  android:label="@string/firmware_upgrade_activity_title" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="417053af00fb5af2e8ddd525abb6236109885978" />
    </application>
</manifest>
